//ヘッダー部分
.registration__container
  .registration__header
    %h1.registration__header--logo
      = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1881812696')
  //メイン部分
  .login__main
    .login__mainbox
      //メイン部分の上の段
      .login__mainbox__upper
        .login__upper--message アカウントをお持ちでない方はこちら
        .login__upper--registration
          =link_to '新規会員登録', information_users_path, class: "btn btn-login"
      //メイン部分の下の段
      .login--panel
        .lonin_mainbox__bottom
          .login__bottom--first
            //リンク先はfacebookに変える
            = link_to user_facebook_omniauth_authorize_path, class: "btn btn-registration--facebook fa-2x" do
              %i.fa.fa-facebook-square 
            .facebook--text Facebookでログイン
          .login__bottom--second
            //リンク先はgoogleに変える
            = link_to user_google_omniauth_authorize_path, class: "btn btn-registration--google fa-2x" do
              %i.fa.fa-google 
            .google--text Googleでログイン
        //入力欄
        .login--form
          .login--form--inner
            .login--email
              %input{name: "email", autofocus: true, autocomplete: "email", class: "inputbox--email", placeholder: "  メールアドレス"}
            .login--password
              %input{name: "password", autocomplete: "current-password", class: "inputbox--password", placeholder: "  パスワード"}
            .login__check
              .login__check--box
                %input.login-checkbox{ type: 'checkbox' }
                %label.login-checkbox--text{ for: 'checkbox-id' } 私はロボットではありません
                .login__check--img 
                  = image_tag("https://www.gstatic.com/recaptcha/api2/logo_48.png", class: "login--img")
                  .login__img--text reCAPTCHA
              .login__ckeck--rule 
                .login__ckeck--rule--first プライバシー
                .login__ckeck--rule--second 利用規約

            //ログイン
            .login--login
              //ログインパスは変更する
              = link_to edit_user_registration_path, class: "btn btn--login" do
                ログイン

            //パスワード忘れ
            .login--forget
              = link_to edit_user_registration_path, class: "btn btn--forget" do
                パスワードをお忘れの方

  .login--footer 
    = render partial: 'users/shared/registration-footer'


