-# パンくずリスト
= render partial: "products/header"

%nav.breadcrumb-wrapper
  %ul
    %li.item_scope
      =link_to root_path, class:'scope_name_prev' do 
        メルカリ
      =fa_icon ("chevron-right")
    %li.item_scope
      =link_to '/users/show', class:'scope_name_prev' do 
        マイページ
      =fa_icon ("chevron-right")
    %li.item_scope
      =link_to '#', class: 'scope_name_current' do 
        支払い方法

.user-menu
  .user-content
    = render partial: "sidebar"

    .contener
      .content
        %section.content__setting-credit
          %h2.content__setting-credit__head
            支払い方法
          .content__setting-credit__main
            %section
              .content__setting-credit__main__title.single-content
                %h3
                  クレジットカード一覧
              %ul.content__setting-credit__main--payment-list
            %section.content__setting-credit__main--add-card
              .single-content
                = link_to "" do
                  .btn-default.btn-red.submit_button.single-content
                    %i.fa.fa-credit-card
                    クレジットカードを追加する
            .setting-not-regist
              = link_to "",{ target: "_blank" } do
                %span
                  支払い方法について
                  %i.fa.fa-chevron-right

= render partial: "layouts/sell-btn"
= render partial: "products/app-notice"
= render partial: "products/footer"
