%body
  .information-container
    .infomation-header
      .infomation-header--logo
        = link_to image_tag(src= "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1905591235", class: "header--mercari"), root_path
          
      //配送状況
      .progress-bar
        %ul.progress-bar--bar
          %li.through#through
            会員情報
            .progress-status
            .progress-status_bar
          %li.active#active
            電話番号認証
            .progress-status
            .progress-status_bar
          %li.address#address 
            お届け住所入力
            .progress-status
            .progress-status_bar
          %li.payment#payment 
            支払い情報
            .progress-status
            .progress-status_bar--last
          %li.end#end 
            完了
            .progress-status
            

    .phonenumber--main
      .phonenumber__mainbox
        //メインの上のだん
        .phonenumber__mainbox__upper
          .phonenumber__upper--message 電話番号の確認
        //メインの下の段
        .phonenumber__mainbox__main
          =form_for(@address, url: address_tel_path) do |f|
            .phonenumber__main
              .phonenumber--phonenumber
                = f.label '携帯電話の番号', class: "phonenumber--number"
                = f.text_field :tel, placeholder: "携帯電話の番号を入力"
              .phonenumber--text 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
              .phonenumber--next
              
                = f.submit "SNSを送信する", class: "btn btn-phonenumber--next"
              .phonenumber--test--second ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
              .phonenumber--test--third 電話番号の確認が必要な理由
                
    .phonenumber--footer
      = render partial: 'users/shared/registration-footer'
