.other-items-contents
  .other-items--box.items-box--overflow
    = link_to "#" do
      .other-items--box__image
        = image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlPGdmrvkRl66M5dNhX98NWT2GG-TOviWdzIu4dyThGbGT5tphDQ", class: "other-items__image")
      .other-items--box__text
        %h3.other-items__name
          ジュエルナローズ　ハンドバッグ
        .other-items-num
          .other-items-num_price
            ￥4,500
          .other-items-num_like
            = fa_icon "heart-o"
            %span.other-items-like-num
              2
  
  .other-items--box
    = link_to "#" do
      .other-items--box__image
        = image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlPGdmrvkRl66M5dNhX98NWT2GG-TOviWdzIu4dyThGbGT5tphDQ", class: "other-items__image")
      .other-items--box__text
        %h3.other-items__name
          ジュエルナローズ　ハンドバッグ
        .other-items-num
          .other-items-num_price
            ￥4,500
          .other-items-num_like
            = fa_icon "heart-o"
            %span.other-items-like-num
              2
    
  .other-items--box
    = link_to "#" do
      .other-items--box__image
        = image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlPGdmrvkRl66M5dNhX98NWT2GG-TOviWdzIu4dyThGbGT5tphDQ", class: "other-items__image")
      .other-items--box__text
        %h3.other-items__name
          ジュエルナローズ　ハンドバッグ
        .other-items-num
          .other-items-num_price
            ￥4,500
          .other-items-num_like
            = fa_icon "heart-o"
            %span.other-items-like-num
              2
    
  .other-items--box
    = link_to "#" do
      .other-items--box__image
        = image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlPGdmrvkRl66M5dNhX98NWT2GG-TOviWdzIu4dyThGbGT5tphDQ", class: "other-items__image")
      .other-items--box__text
        %h3.other-items__name
          ジュエルナローズ　ハンドバッグ
        .other-items-num
          .other-items-num_price
            ￥4,500
          .other-items-num_like
            = fa_icon "heart-o"
            %span.other-items-like-num
              2

  .other-items--box
    = link_to "#" do
      .other-items--box__image
        = image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlPGdmrvkRl66M5dNhX98NWT2GG-TOviWdzIu4dyThGbGT5tphDQ", class: "other-items__image")
      .other-items--box__text
        %h3.other-items__name
          ジュエルナローズ　ハンドバッグ
        .other-items-num
          .other-items-num_price
            ￥4,500
          .other-items-num_like
            = fa_icon "heart-o"
            %span.other-items-like-num
              2

  .other-items--box
    = link_to "#" do
      .other-items--box__image
        = image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlPGdmrvkRl66M5dNhX98NWT2GG-TOviWdzIu4dyThGbGT5tphDQ", class: "other-items__image")
      .other-items--box__text
        %h3.other-items__name
          ジュエルナローズ　ハンドバッグ
        .other-items-num
          .other-items-num_price
            ￥4,500
          .other-items-num_like
            = fa_icon "heart-o"
            %span.other-items-like-num
              2