.main-wrapper
  %h1.main-wrapper_title
    ピックアップカテゴリー
  .section-wrapper
    %h2.section-wrapper-title
      %a.section-title
        レディース 新着アイテム
    .items-wrapper
      = render partial:"item"
    .view-all
      %a.view-all_message
        すべての商品を見る

  .section-wrapper
    %h2.section-wrapper-title
      %a.section-title
        メンズ 新着アイテム
    .items-wrapper
      = render partial:"item"
    .view-all
      %a.view-all_message
        すべての商品を見る

  .section-wrapper
    %h2.section-wrapper-title
      %a.section-title
        ベビー・キッズ 新着アイテム
    .items-wrapper
      = render partial:"item"
    .view-all
      %a.view-all_message
        すべての商品を見る

  .section-wrapper
    %h2.section-wrapper-title
      %a.section-title
        コスメ・香水・美容 新着アイテム
    .items-wrapper
      = render partial:"item"
    .view-all
      %a.view-all_message
        すべての商品を見る
        
.main-wrapper
  %h1.main-wrapper_title
    ピックアップブランド
  .section-wrapper
    %h2.section-wrapper-title
      %a.section-title
        シャネル 新着アイテム
    .items-wrapper
      = render partial:"item"
    .view-all
      %a.view-all_message
        すべての商品を見る

  .section-wrapper
    %h2.section-wrapper-title
      %a.section-title
        ルイ ヴィトン 新着アイテム
    .items-wrapper
      = render partial:"item"
    .view-all
      %a.view-all_message
        すべての商品を見る

  .section-wrapper
    %h2.section-wrapper-title
      %a.section-title
        シュプリーム 新着アイテム
    .items-wrapper
      = render partial:"item"
    .view-all
      %a.view-all_message
        すべての商品を見る

  .section-wrapper
    %h2.section-wrapper-title
      %a.section-title
        ナイキ 新着アイテム
    .items-wrapper
      = render partial:"item"
    .view-all
