.other-items-contents
  - @products.each do |product|
    .other-items--box
      = link_to product_path(product.id) do
        .other-items--box__image
          = image_tag(product.images.first.image.url, class: "other-items__image")
        .other-items--box__text
          %h3.other-items__name
            = product.name
          .other-items-num
            .other-items-num_price
              = "¥#{number_with_delimiter(product.price)}"
            .other-items-num_like
              = fa_icon "heart-o"
              %span.other-items-like-num
                = product.like
