= render partial: "header"

.notice-top
  = image_tag("banner-6th-thanks.jpg", class: "notice-top_image")
  
= render partial: "items"

= render partial: "app-notice"

= render partial: "layouts/sell-btn" 

= render partial: "footer"
