=render partial: "header"

.mid-main-wrapper.clearfix
  .all-list-wrapper
    %ul.navi-item-wrapper.clearfix
      %li
        =link_to 'ショルダーバッグ','#', class:'sml-category'
      %li
        =link_to 'トートバッグ','#', class:'sml-category'
      %li
        =link_to 'ハンドバッグ','#', class:'sml-category'
      %li
        =link_to 'リュック/バックパック','#', class:'sml-category'
      %li
        =link_to 'ポーチ/バニティ','#', class:'sml-category'
      %li
        =link_to 'ショップ袋','#', class:'sml-category'
      %li
        =link_to 'ボディーバッグ/ウエストバッグ','#', class:'sml-category'          
      %li
        =link_to 'かごバッグ','#', class:'sml-category'
      %li
        =link_to '旅行用バッグ/キャリーバッグ','#', class:'sml-category'
          
    .items-list-wrapper.clearfix
      %h1.items-head_name
        バッグの商品一覧
      .items-wrapper
        = render partial:"an-item" #1行目
        = render partial:"an-item" #2行目
        = render partial:"an-item" #3行目
        = render partial:"an-item" #4行目
        = render partial:"an-item" #5行目
        = render partial:"an-item" #6行目
        = render partial:"an-item" #7行目
        = render partial:"an-item" #8行目
        = render partial:"an-item" #9行目
        = render partial:"an-item" #10行目
        = render partial:"an-item" #11行目
        = render partial:"an-item" #12行目
        = render partial:"an-item" #13行目
        = render partial:"an-item" #14行目
        = render partial:"an-item" #15行目
        = render partial:"an-item" #16行目
        = render partial:"an-item" #17行目
        = render partial:"an-item" #18行目
        = render partial:"an-item" #19行目
        = render partial:"an-item" #20行目
        = render partial:"an-item" #21行目
        = render partial:"an-item" #22行目
        = render partial:"an-item" #23行目
        = render partial:"an-item" #24行目
        = render partial:"an-item" #25行目
        = render partial:"an-item" #26行目
      %ul.item-list-page
        %li.item-list-page_prev
          %ul
            %li.progress-box
              %a{href: "#"}
                %i.fa.fa-angle-double-left.icon-double
            %li.progress-box
              %a{href: "#"}
                %i.fa.fa-chevron-left.icon-single
        %li.item-list-page_num
          %ul
            %li.page-btn.active
              %a{href: "#"}
              1
            %li.page-btn.box
              %a{href: "#"}
              2
            %li.page-btn.box
              %a{href: "#"}
              3
            %li.page-btn.box
              %a{href: "#"}
              4
            %li.page-btn.box
              %a{href: "#"}
              5
        %li.item-list-page_next
          %ul
            %li.progress-box
              %a{href: "#"}
                %i.fa.fa-chevron-right.icon-single
            %li.progress-box
              %a{href: "#"}
                %i.fa.fa-angle-double-right.icon-double

      .item-list-footer
        .item-list-name_box
          %h3.item-list-name
            バッグ（レディース）

=render partial: "app-notice"

=render partial: "layouts/sell-btn" 

=render partial: "footer"
