= render partial: "header"

.item-background
  .item-container
    %h1.item-container_name
      = @product.name
    .item-info
      .item-info--box.clearfix
        .item-info--box__image
          .slide-cont 
            .owl-carousel
              - @product.images.each do |image|
                = image_tag(image.image.url, class: "image-select") 
            -if @product.status_id == 2  
              = render partial: "soldout"     

        .item-info--box__price.vanish
          %span.price-yen
            = "¥ #{number_with_delimiter(@product.price)}"
          %span.price-tax (税込)
          %span.price-fee 送料込み
    
        %table.item-info--box__detail
          %tbody
            %tr
              %th 出品者
              %td 
                = link_to @product.user.nickname, user_path(@product.user_id)
                - unless user_signed_in? && current_user.id == @product.user_id
                  .user-rating
                    = fa_icon 'smile-o', class: "user-rating__icon"
                    %span 99
                    = fa_icon 'meh-o', class: "user-rating__icon"
                    %span 99
                    = fa_icon 'frown-o', class: "user-rating__icon"
                    %span 99
            %tr
              %th カテゴリー
              %td
                = link_to "#" do
                  = @parent_category.name
                .item-info--box__detail__midcategory
                  = link_to "#" do
                    = fa_icon 'chevron-right'
                    = @child_category.name
                .item-info--box__detail__smallcategory
                  = link_to "#" do
                    = fa_icon 'chevron-right'
                    = @grandchild_category.name

            %tr 
              %th ブランド
              %td
                = link_to @product.brand.name, "#"

            %tr 
              %th 商品の状態
              %td
                = @product.condition.state

            %tr 
              %th 配送料の負担
              %td
                = @fee

            %tr 
              %th 配送の方法
              %td
                = @product.delivery_method.package

            %tr 
              %th 配送元地域
              %td
                = @product.prefecture.name

            %tr 
              %th 配送日の目安
              %td
                = @product.shipment.ship
      
      .item-info__price
        %span.price-yen
          = "¥ #{number_with_delimiter(@product.price)}"
        %span.price-tax
          (税込)
        %span.price-fee
          送料込み

      .buy-btn
        - if @product.status_id == 2
          .buy-btn__link.btn-default.btn-gray
            売り切れました
        - elsif user_signed_in? && current_user.id != @product.user_id 
          = link_to product_purchase_index_path(@product.id), class: "buy-btn__link btn-default btn-red" do
            購入画面に進む
          = link_to 'アプリで買う', "#", class: "mercari-app-link"
        
      .item-info__description
        = @product.detail
    - if user_signed_in? && current_user.id != @product.user_id
      .item-info__button
        .item-info__button-like
          = button_to root_path, class: "item-button like-button" do
            = fa_icon 'heart-o'
            %span いいね！
            %span
              = @product.like

        .item-info__button-report
          = button_to root_path, class: "item-button report-button" do
            = fa_icon 'flag-o'
            %span 不適切な商品の報告

        .item-info__policy
          = link_to "#", class: "item-info__policy-link" do
            = fa_icon 'lock'
            %span あんしん・あんぜんへの取り組み

  - if user_signed_in? && current_user.id == @product.user_id && @product.status_id == 1
    .item-change-box
      = link_to edit_product_path(@product.id), class: "btn-default btn-red" do
        商品の編集
      %p.text-center
        or
      -# = link_to edit_product_path(@product.id), class: "btn-default btn-gray" do
      -#   出品を一旦停止する
      = link_to product_path(@product.id), method: :delete, data:{ confirm: '削除すると二度と復活できません。本当に削除しますか？' }, class: "btn-default btn-gray" do
        この商品を削除する

  .comment
    .comment-container
      -# .comment-container__field
      -#   = render partial: "item-comment"
      
      .comment-container__post
        %form.comment-form#comment-form
          .comment-form__notice
            相手のことを考え丁寧なコメントを心がけましょう。
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %text_area.comment-form__text.textarea-default{ type: "text", name: "comment" }
          = button_tag("コメントする", type: 'submit', class: 'comment-form__btn btn-default')
              
  .item-link 
    .item-link--prev  
      = link_to '#' do
        = fa_icon "chevron-left", class: "item-link--prev_left"
        NIKE 限定品 airmax 97'
    .item-link--next
      = link_to '#' do
        NIKE 限定品 airmax 90'
        = fa_icon "chevron-right", class: "item-link--next_right"

  .social-media
    %ul.social-media--container 
      %li.social-media--container__icon
        = link_to image_tag("facebook.png"), "#" 
      %li.social-media--container__icon
        = link_to image_tag("twitter.png"), "#" 
      %li.social-media--container__icon.hidden-icon
        = link_to image_tag("square-default.png"), "#" 
      %li.social-media--container__icon
        = link_to image_tag("pinterest.png"), "#" 
      
  .user-item--others
    .other-items.items-box--overflow
      .other-items--head
        = link_to "#{@product.user.nickname} さんのその他の出品", "#"
      = render partial: "users-other-items"

  .same-brand-items
    .other-items.items-box--overflow
      .other-items--head
        = link_to "#{@product.brand.name} その他の出品", "#"
      = render partial: "brands-other-items"
      

= render partial: "footer"
